{%- assign page_lang = page.lang | default: site.lang | default: "ru" -%}
{%- assign ui = site.data.ui[page_lang] -%}
<!DOCTYPE html>
<html lang="{{ page_lang }}">
  {% include head.html %}
  <body
    data-ui-copy="{{ ui.code.copy }}"
    data-ui-copied="{{ ui.code.copied }}"
    data-ui-close="{{ ui.lightbox.close }}"
    data-baseurl="{{ site.baseurl }}"
  >
    {% include header.html %}
    <main id="main" class="site-main">
      {{ content }}
    </main>
    {% include footer.html %}
    <script type="module" src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
